.no {
    font-family: sans-serif;
    font-size: 100px;
    text-align:center;
    color: indigo;
    text-shadow: 15px 15px 15px rgb(23, 2, 37);
}

.yes {
    font-family: sans-serif;
    font-size: 100px;
    text-align: center;
    color: red;
    text-shadow: 15px 15px 15px rgb(69, 3, 3);
}
